MONGODB_URI=mongodb://shazmarana:Shazma12345@ac-xe9xoyz-shard-00-00.yjlg6sr.mongodb.net:27017,ac-xe9xoyz-shard-00-01.yjlg6sr.mongodb.net:27017,ac-xe9xoyz-shard-00-02.yjlg6sr.mongodb.net:27017/?ssl=true&replicaSet=atlas-or684x-shard-0&authSource=admin&appName=Cluster0
PORT=5000
APIFY_TOKEN=your-apify-token-here